<!DOCTYPE html>
<html>
  <head>
    <title>BooksTrader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background">
    <br>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <br>
    <%= yield %>
  </body>
</html>
